{{#metatags}}
<meta name="title" content="{{meta_title}}">
{{#meta_description}}
<meta name="description" content="{{meta_description}}">
{{/meta_description}}
{{#meta_color}}
<meta name="theme-color" content="{{meta_color}}">
{{/meta_color}}
<meta property="og:type" content="website">
<meta property="og:url" content="{{meta_url}}">
<meta property="og:title" content="{{meta_title}}">
{{#meta_description}}
<meta property="og:description" content="{{meta_description}}">
{{/meta_description}}
{{#meta_image}}
<meta property="og:image" content="{{meta_image}}">
{{/meta_image}}
<meta property="twitter:url" content="{{meta_url}}">
<meta property="twitter:title" content="{{meta_title}}">
{{#meta_description}}
<meta property="twitter:description" content="{{meta_description}}">
{{/meta_description}}
{{#meta_image}}
<meta property="twitter:image" content="{{meta_image}}">
<meta property="twitter:card" content="summary_large_image">
{{/meta_image}}
{{/metatags}}
