<div id="wiki-wrapper" class="history">
<div id="head">
	{{>navbar}}
  <h1 class="py-4">{{title}}</h1>
</div>

{{>pagination}}

<div id="wiki-history">

{{>latest_changes_list}}

</div>
<div id="footer">

</div>
</div>
